name: Build and publish docker image for slovar-scrape

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v5

      - name: Get current time
        id: current-time
        uses: josStorer/get-current-time@v2.1.2
        with:
          format: YYYY-MM-DD-HH-mm-ss
          utcOffset: "+01:00"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          file: ./scrape/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/vidvidex/slovar-scrape:${{ steps.current-time.outputs.formattedTime }}
            ghcr.io/vidvidex/slovar-scrape:latest
