name: Build, publish and deploy docker image for slovar-web

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Get current time
        id: current-time
        uses: josStorer/get-current-time@v2.1.2
        with:
          format: YYYY-MM-DD-HH-mm-ss
          utcOffset: "+01:00"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          file: ./web/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/vidvidex/slovar-web:${{ steps.current-time.outputs.formattedTime }}
            ghcr.io/vidvidex/slovar-web:latest

      - name: Delete old images
        uses: actions/delete-package-versions@v5
        with:
          package-name: slovar-web
          package-type: 'container'
          min-versions-to-keep: 10
          delete-only-untagged-versions: 'true'

  deploy:
    needs: build
    name: deploy image to the server
    runs-on: ubuntu-latest

    steps:
      - name: install ssh keys
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SLOVAR_USER_SSH_KEY }}" > ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SLOVAR_HOST }} > ~/.ssh/known_hosts
      - name: connect and pull
        run: ssh ${{ secrets.SLOVAR_USER }}@${{ secrets.SLOVAR_HOST }} "cd ${{ secrets.SLOVAR_DIR }} && docker compose pull && docker compose up -d && docker image prune -f && exit"
      - name: cleanup
        run: rm -rf ~/.ssh
